.search-option {
  background-color: var(--clr-grey);
  padding: 1em;
  display: flex;
  justify-content: left;
  align-items: center;
  border-radius: 5px;
  margin-right: 0.5em;
  border: none;
  cursor: pointer;
}

.search-option:hover {
  opacity: 0.8;
}

.search-option h4 {
  padding-right: 0.25em;
  font-size: 0.9rem;
  font-family: "Flexo-Medium";
  font-weight: normal;
}

.search-option p {
  font-family: "Flexo-Medium";
  color: #fff;
  font-size: 0.9rem;
  padding-right: 0.5em;
}

.search-option span {
  background-color: var(--clr-black-dark);
  border-radius: 2.5px;
  padding: 0.25em 0.45em;
}

.search-option i {
  color: #fff;
}
