.signin-form {
  display: flex;
  flex-direction: column;
  width: 30em;
  margin: 2em auto;
  gap: 3em;
  background-color: #fff;
  border-radius: 20px;
  padding: 4em;
}

.signin-input {
  font-family: "Flexo-Regular";
  border: none;
  border-bottom: 1px solid var(--clr-accent-light);
  color: var(--clr-accent-light);
  font-size: 1.25rem;
}

.btn-signin {
  margin: 0 auto;
}

.btn-signin:hover,
.btn-signin:focus {
  background-color: #1b82b1;
}

.btn-signin:active {
  background-color: var(--clr-accent-dark);
}
