.signin-form {
  display: flex;
  flex-direction: column;
  width: 30em;
  margin: 2em auto 10em;
  background-color: var(--clr-secondary);
  border-radius: 20px;
  padding: 4em;
  gap: 2em;
}

.signin-input {
  font-family: "Flexo-Regular";
  border: none;
  border-radius: 5px;
  border-bottom: 1px solid var(--clr-secondary-light);
  color: var(--clr-secondary-light);
  font-size: 1.25rem;
  padding: 0.5em;
}

.btns {
  display: flex;
  gap: 1em;
  justify-content: center;
}

.btn-login {
  background-color: var(--clr-primary-green);
}

.btn-login:hover {
  background-color: var(--clr-primary-green-dark);
}

.btn-register {
  background-color: var(--clr-primary-blue);
}

.btn-register:hover {
  background-color: var(--clr-primary-blue-dark);
}
