.loader {
  background: url("https://assets.pokemon.com/static2/_ui/img/chrome/loaders/pokeball_gray.png")
    center center no-repeat;
  background-size: 32px;
  width: 32px;
  height: 32px;
  animation: loader 1s ease forwards infinite;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
