.search-container {
  width: 100%;
  background-color: var(--clr-black);
  text-align: left;
  padding-bottom: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 5;
}

.input-container {
  padding: 1.5em;
}

.input-container > h2 {
  color: #fff;
  font-size: 1.7em;
  font-weight: normal;
  width: 8em;
}

.input-container > input {
  padding: 0.5em;
  border: 3px solid var(--clr-grey-dark);
  border-radius: 5px;
  width: 60vw;
  margin-right: 5vw;
  height: 3em;
  font-size: 1rem;
  color: var(--clr-grey-dark);
}

.input-container > button {
  height: 3em;
  min-width: 3em;
  width: 10vw;
  background-color: var(--clr-orange);
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.input-container > button:hover {
  background-color: var(--clr-orange-dark);
}

.search-info {
  width: 82vw;
  background-color: var(--clr-green);
  padding: 1em;
  border-radius: 8px;
}

.search-info > p {
  font-size: 1.25rem;
  color: #fff;
}

@media (min-width: 960px) {
  .search-container {
    flex-direction: unset;
    justify-content: center;
  }

  .input-container > input {
    width: 30vw;
    margin-right: 1.5em;
  }

  .input-container > button {
    width: 3.25em;
  }

  .search-info {
    width: 40vw;
  }
}

@media (min-width: 1024px) {
  .search-container {
    padding: 2em;
    height: 11.5em;
  }

  .input-container {
    width: 28em;
    padding-top: 0;
  }

  .input-container > input {
    width: 20em;
    margin-right: 1.5em;
  }

  .search-info {
    background-color: var(--clr-green);
    padding: 1em;
    border-radius: 8px;
    width: 27em;
    height: 5.5em;
  }

  .search-info > p {
    font-size: 1.25rem;
    color: #fff;
  }
}
