.weaknesses-container {
  text-align: left;
  margin: 5em 0.25em 3em;
}

.weaknesses-title {
  font-weight: normal;
  font-size: 3rem;
}

@media (min-width: 960px) {
  .weaknesses-container {
    margin-block: 1em;
    padding: 0;
  }

  .weaknesses-title {
    font-size: 1.25rem;
    margin-bottom: 0.75em;
  }

  .btns-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
  }
}
