:root {
  --clr-primary: #4dad5b;
  --clr-primary-dark: #369143;
  --clr-accent: #30a7d7;
  --clr-accent-dark: #1b82b1;
  --clr-secondary-dark: #2f2f2f;
  --clr-secondary: #eff1f0;
  --clr-secondary-light: #9f9f9f;
  /* byt ut dessa färger sen */
  --clr-warning: orange;
  --clr-warning-dark: red;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--clr-secondary);
  background-image: url("https://www.transparenttextures.com/patterns/gplay.png");
  font-family: "Flexo-Regular";
}

.btn {
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  font-family: "Flexo-Regular";
  color: var(--clr-secondary);
  border-radius: 8px;
  width: 6em;
  height: 1.5em;
}

.btn:hover {
  background-color: #1b82b1;
}
