:root {
  --clr-secondary-dark: #2f2f2f;
  --clr-secondary: #eff1f0;
  --clr-accent: #feca1b;
  --clr-accent-dark: #ef5350;
  --clr-accent-light: #9f9f9f;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--clr-secondary);
  background-image: url("https://www.transparenttextures.com/patterns/gplay.png");
  font-family: "Flexo-Regular";
}

.btn {
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  font-family: "Flexo-Regular";
  background-color: #30a7d7;
  color: var(--clr-secondary);
  border-radius: 8px;
  width: 6em;
  height: 1.5em;
}
