@font-face {
  font-family: "Flexo-Thin";
  src: url("../../shared/fonts/flexo/Flexo-Thin.ttf");
}

@font-face {
  font-family: "Flexo-Light";
  src: url("../../shared/fonts/flexo/Flexo-Light.ttf");
}

@font-face {
  font-family: "Flexo-Regular";
  src: url("../../shared/fonts/flexo/Flexo-Regular.ttf");
}

@font-face {
  font-family: "Flexo-Medium";
  src: url("../../shared/fonts/flexo/Flexo-Medium.ttf");
}

@font-face {
  font-family: "Flexo-Demi";
  src: url("../../shared/fonts/flexo/Flexo-Demi.ttf");
}

@font-face {
  font-family: "Flexo-Bold";
  src: url("../../shared/fonts/flexo/Flexo-Bold.ttf");
}

@font-face {
  font-family: "Pokemon-Hollow";
  src: url("../../shared/fonts/pokemon/Pokemon-Hollow.ttf");
}

@font-face {
  font-family: "Pokemon-Solid";
  src: url("../../shared/fonts/pokemon/Pokemon-Solid.ttf");
}
