:root {
  --clr-grey: #a4a4a4;
  --clr-grey-dark: #616161;
  --clr-black: #313131;
  --clr-black-dark: #1f1f1f;
  --clr-light-white: #dedede;
  --clr-green: #4dad5b;
  --clr-green-dark: #369143;
  --clr-blue: #30a7d7;
  --clr-blue-dark: #1b82b1;
  --clr-orange: #ee6b2f;
  --clr-orange-dark: #da471b;
  --clr-red: #e3350d;
  --clr-yellow: #e6bc2f;

  --clr-type-bug: #729f3f;
  --clr-type-dragon: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
  --clr-type-fairy: #fdb9e9;
  --clr-type-fire: #fd7d24;
  --clr-type-ghost: #7b62a3;
  --clr-type-ground: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
  --clr-type-normal: #a4acaf;
  --clr-type-psychic: #f366b9;
  --clr-type-steel: #9eb7b8;
  --clr-type-electric: #eed535;
  --clr-type-fighting: #d56723;
  --clr-type-flying: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
  --clr-type-grass: #9bcc50;
  --clr-type-ice: #51c4e7;
  --clr-type-poison: #b97fc9;
  --clr-type-rock: #a38c21;
  --clr-type-water: #4592c4;
  --clr-type-dark: #707070;
}

@font-face {
  font-family: "Flexo-Thin";
  src: url("../fonts/flexo/Flexo-Thin.ttf");
}

@font-face {
  font-family: "Flexo-Light";
  src: url("../fonts/flexo/Flexo-Light.ttf");
}

@font-face {
  font-family: "Flexo-Regular";
  src: url("../fonts/flexo/Flexo-Regular.ttf");
}

@font-face {
  font-family: "Flexo-Medium";
  src: url("../fonts/flexo/Flexo-Medium.ttf");
}

@font-face {
  font-family: "Flexo-Demi";
  src: url("../fonts/flexo/Flexo-Demi.ttf");
}

@font-face {
  font-family: "Flexo-Bold";
  src: url("../fonts/flexo/Flexo-Bold.ttf");
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("https://assets.pokemon.com/static2/_ui/img/chrome/body_bg.png");
  font-family: "Flexo-Regular";
}

img {
  max-width: 100%;
}

.no-scroll {
  overflow: hidden;
}

.view-container {
  background-color: #fff;
  background-image: url("https://assets.pokemon.com/static2/_ui/img/chrome/container_bg.png");
}

.heading-container {
  background-color: #fff;
  padding-block: 1.3em;
}

.heading-container > h1 {
  color: var(--clr-grey);
  font-size: 1.9rem;
  font-weight: normal;
  margin-top: 0.5em;
  margin-left: 0.5em;
}

@media (min-width: 1024px) {
  .view-container {
    text-align: center;
    position: relative;
    max-width: 80em;
    min-height: 100vh;
    /* margin: 0 auto; */
  }

  .heading-container {
    /* padding: 1.25em; */
    display: flex;
    justify-content: center;
    width: 56em;
    margin: 0 auto;
  }

  .heading-container > h1 {
    width: 27em;
    text-align: left;
    font-weight: normal;
    color: var(--clr-grey);
  }

  .body-container {
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    width: 56em;
    margin: 0 auto;
    padding: 3em 1em 1em;
    display: flex;
    border-radius: 0 0 8px 8px;
  }

  .btn {
    border: none;
    cursor: pointer;
    font-family: "Flexo-Regular";
    color: #fff;
  }

  .btn:hover {
    background-color: var(--clr-blue-dark);
  }
}
