.card-wrapper {
  border: 5px solid var(--clr-secondary-dark);
  border-radius: 20px;
  margin: 2em auto;
  padding: 2em;
  width: 35em;
  background-color: #fff;
  position: relative;
}

.card-title {
  font-size: 2rem;
  margin-bottom: 1em;
}

.card-id {
  color: #9f9f9f;
}

.card-img {
  background-color: var(--clr-secondary);
  margin-bottom: 1em;
}

.card-description {
  font-size: 1.5rem;
  text-align: center;
}
