.arrows-container {
  text-align: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #fff;
}

.btn-arrow {
  border: none;
  background-color: var(--clr-grey);
  cursor: pointer;
  padding: 1.5em;
  width: 49.5%;
}

.btn-arrow-left {
  border-radius: 0 0 0 10px;
}

.btn-arrow-right {
  border-radius: 0 0 10px 0;
}

.btn-arrow:hover,
.btn-arrow:focus {
  background-color: var(--clr-blue);
}
