.arrows-container {
  text-align: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #fff;
  position: relative;
  padding-top: 4em;
}

.btn-arrow {
  border: none;
  background-color: var(--clr-grey);
  cursor: pointer;
  padding: 1.5em;
  width: 50%;
  height: 120px;
  position: relative;
}

.btn-arrow-left {
  border-right: 2px solid #fff;
}

.btn-arrow-right {
  border-left: 2px solid #fff;
}

.arrow-left {
  position: absolute;
  top: 1em;
  right: 40vw;
  z-index: 5;
  color: #616161;
}

.btn-arrow-left::after {
  content: " ";
  width: 25px;
  height: 25px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  z-index: 4;
  top: 1.35em;
  right: 39.5vw;
}

.arrow-right {
  position: absolute;
  top: 1em;
  left: 40vw;
  z-index: 5;
  color: #616161;
}

.btn-arrow-right::after {
  content: " ";
  width: 25px;
  height: 25px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  z-index: 4;
  top: 1.35em;
  left: 39.5vw;
}

.btn-arrow:hover {
  background-color: var(--clr-blue);
}

.prev-pokemon,
.next-pokemon {
  font-family: "Flexo-Demi";
  position: absolute;
  font-size: 1.5rem;
  height: 1.5em;
  width: 35vw;
  top: 0.65em;
  z-index: 160;
}

.prev-pokemon {
  text-align: right;
  right: 0.25em;
}

.prev-pokemon-loader {
  float: right;
  margin-right: 0.5em;
}

.next-pokemon {
  text-align: left;
  left: 0.25em;
}

.next-pokemon-loader {
  float: left;
  margin-left: 0.5em;
}

.prev-pokemon-title,
.next-pokemon-title {
  display: none;
}

.next-pokemon-id {
  font-family: "Flexo-Demi";
  color: #fff;
}

.details-title {
  width: 70%;
  height: 51.25px;
  background-color: #fff;
  position: absolute;
  top: 134px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}

.details-title::before {
  background: transparent url("../../shared/img/notch-white-left.png") no-repeat;
  left: -75px;
}

.details-title::after {
  background: transparent url("../../shared/img/notch-white-right.png")
    no-repeat;
  background-position: right top;
  right: -75px;
}

.details-title::before,
.details-title::after {
  bottom: 0;
  content: " ";
  position: absolute;
  height: 52px;
  width: 6em;
}

.details-title-inner {
  font-family: "Flexo-Medium";
  font-size: 1.85rem;
  margin-top: 0.35em;
  font-weight: lighter;
  width: 100%;
  background-color: #fff;
}

.details-id {
  color: var(--clr-grey-dark);
}

.details-loader {
  margin: 0 auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 55%;
}

@media (min-width: 960px) {
  .arrow-left {
    right: 20.6em;
  }

  .btn-arrow-left::after {
    right: 30.7em;
  }

  .arrow-right {
    left: 20.6em;
  }

  .btn-arrow-right::after {
    left: 30.7em;
  }

  .prev-pokemon,
  .next-pokemon {
    width: 13em;
  }

  .prev-pokemon {
    text-align: left;
    right: 3.5em;
  }

  .prev-pokemon-loader {
    float: left;
    margin-left: 0.5em;
  }

  .next-pokemon-loader {
    float: right;
    margin-right: 0.5em;
  }

  .next-pokemon {
    text-align: right;
    left: 3.5em;
  }

  .prev-pokemon-title,
  .next-pokemon-title {
    display: inline-block;
    color: var(--clr-grey-dark);
    font-size: 1.5rem;
  }
}
