.viewContainer {
  background-color: #fff;
  background-image: url("https://assets.pokemon.com/static2/_ui/img/chrome/container_bg.png");
}

.headingContainer {
  background-color: #fff;
  padding-top: 1.3em;
}

.bodyContainer {
  background-color: #fff;
  padding-block: 0 1em;
  min-height: 80vh;
}

@media (min-width: 460px) {
  .viewContainer {
    width: 100%;
  }

  .bodyContainer {
    width: 85.5%;
    margin: 0 auto;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.6em;
    padding-inline: 1em;
  }
}

@media (min-width: 1024px) {
  .viewContainer {
    text-align: center;
    position: relative;
    max-width: 80em;
    min-height: 100vh;
    margin: 0 auto;
  }

  .bodyContainer {
    width: 56em;
    gap: 0.9em;
  }
}
