nav {
  background-color: var(--clr-secondary);
  color: var(--clr-secondary);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
  padding: 1em;
  padding-left: 2em;
  width: 100%;
  margin: 0;
}

.brand {
  width: 10em;
}

.btn-nav {
  position: absolute;
  right: 1em;
  margin-inline: 2em;
  background-color: var(--clr-warning);
}

.btn-nav:hover {
  background-color: var(--clr-warning-dark);
}
