.btn-container {
  width: 80%;
  background-color: #fff;
  margin: 0 auto;
  padding: 1em;
}

.search-container {
  width: 100%;
  text-align: left;
  background-color: var(--clr-black);
  padding: 2em;
  height: 11.5em;
  display: flex;
  justify-content: center;
  position: relative;
}

.input-container {
  width: 28em;
}

.input-container > h2 {
  color: #fff;
  font-size: 1.75em;
  font-weight: normal;
}

.input-container > input {
  margin-right: 1em;
  padding: 0.5em;
  border: 3px solid var(--clr-grey-dark);
  border-radius: 3px;
  width: 20em;
  height: 3em;
  font-size: 1rem;
  color: var(--clr-grey-dark);
}

.input-container > button {
  padding: 1em 1.2em;
  background-color: var(--clr-orange);
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
}

.input-container > button:hover {
  background-color: var(--clr-orange-dark);
  cursor: pointer;
}

.search-info {
  background-color: var(--clr-green);
  padding: 1em;
  border-radius: 8px;
  width: 27em;
  height: 5.5em;
  /* position: absolute;
  right: 12em; */
}

.search-info > p {
  font-size: 1.25rem;
  color: #fff;
}

.divider {
  background-color: var(--clr-grey-dark);
  height: 3em;
}

.error-container {
  border: 2px solid var(--clr-red);
  border-radius: 8px;
  height: 12em;
  width: 100%;
  display: grid;
  text-align: left;
  padding: 1em;
}

.error-container > h3 {
  color: var(--clr-red);
  margin-bottom: 0.75em;
}

.error-container > h4 {
  color: var(--clr-grey);
}

.error-tip {
  border: none;
  color: var(--clr-grey-dark);
  list-style: disc;
  padding: 1em;
  margin-left: 1em;
}

.btn-load-more {
  background-color: var(--clr-blue);
  font-family: "Flexo-Demi";
  font-size: 1rem;
  font-weight: bold;
  padding: 0.75em 1em;
  margin-bottom: 3em;
  border-radius: 5px;
}
