#pokemon-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.pokedex-loader {
  margin: 5em auto 8em;
}

.btn-container {
  width: 100%;
  background-color: #fff;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top-btns-container {
  padding-block: 1em 3em;
  position: relative;
}

.sort-container {
  width: 80vw;
  position: relative;
  color: #fff;
}

.btn-drop-down-header {
  font-size: 1rem;
  background-color: var(--clr-black);
  height: 2.5em;
  border-radius: 5px;
  margin-top: 1em;
  text-align: left;
  padding-left: 1.25em;
  position: relative;
  width: 100%;
}

.btn-drop-down-header > i {
  position: absolute;
  right: 0.5em;
  top: 50%;
  transform: translateY(-50%);
}

.btn-surprise {
  font-family: "Flexo-Demi";
  font-weight: bold;
  font-size: 1rem;
  margin-top: 2em;
  width: 80vw;
  height: 3em;
  background-color: var(--clr-blue);
  border-radius: 5px;
  color: #fff;
}

.btn-surprise:hover {
  background-color: var(--clr-blue-dark);
}

.btn-load-more {
  background-color: var(--clr-blue);
  font-family: "Flexo-Demi";
  font-size: 1rem;
  font-weight: bold;
  padding: 0.75em 1em;
  margin-bottom: 3em;
  border-radius: 5px;
  color: #fff;
}

@media (min-width: 460px) {
  .btn-container {
    width: 85.5%;
  }
}

@media (min-width: 768px) {
  #pokemon-cards {
    justify-content: left;
    gap: 1.5vw;
  }
}

@media (min-width: 960px) {
  .btn-container {
    flex-direction: row;
    justify-content: space-between;
    padding-inline: 1.5em;
  }

  .btn-surprise {
    width: 20em;
    margin-right: 1em;
  }

  .sort-container {
    width: 22em;
  }

  .btn-load-more-container {
    justify-content: center;
  }
}

@media (min-width: 1024px) {
  #pokemon-cards {
    gap: 0.9em;
  }

  .btn-container {
    width: 56em;
  }
}
