.type-container {
  margin-left: 0.5em;
}

.type-title,
.weaknesses-title {
  margin-block: 1em 0.5em;
  font-size: 1.2rem;
  font-weight: normal;
}

.type-btns-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.35em;
}

@media (min-width: 1024px) {
  .type-container {
    text-align: left;
  }
}
