.type {
  text-align: left;
  margin: 5em 0.25em 3em;
}

.type > h2 {
  font-weight: normal;
  font-size: 3rem;
}

.btn-type {
  padding: 0;
  margin: 1em 0.2em;
  font-size: 2.75rem;
}

@media (min-width: 960px) {
  .type {
    margin: 1em 1em 0;
    padding: 0;
  }

  .type > h2 {
    font-size: 1.25rem;
    margin-bottom: 0.75em;
  }

  .btn-type {
    font-size: 1rem;
    width: 8.5em;
    height: 2em;
    margin: 0;
    margin-right: 0.5em;
    border-radius: 5px;
  }
}
