.footer-divider {
  height: 2.5em;
  width: 100%;
  background-color: transparent;
}

.footer-notch {
  width: 85%;
  max-width: 54.5em;
  height: 0.38em;
  background-color: #fff;
  margin: 0 auto;
  position: relative;
}

.footer-notch::before,
.footer-notch::after {
  top: 0;
  content: " ";
  position: absolute;
  height: 1em;
  width: 1em;
}

.footer-notch::before {
  background: transparent
    url("https://assets.pokemon.com/static2/_ui/img/chrome/notches/notch-top-left.png")
    no-repeat;
  left: -0.7em;
}

.footer-notch::after {
  background: transparent
    url("https://assets.pokemon.com/static2/_ui/img/chrome/notches/notch-top-right.png")
    no-repeat;
  right: -1em;
}

.footer-container {
  background-color: var(--clr-black-dark);
  height: 8em;
  width: 100%;
  border-bottom: 8px solid #191919;
}

.footer-content {
  height: 100%;
  width: 80em;
  text-align: left;
  padding: 1em 2.5em;
  position: relative;
  margin: 0 auto;
}

.footer-title {
  color: #fff;
  text-shadow: -2px 0 #000, 0 2px #000, 2px 0 #000, 0 -2px #000;
}

small {
  font-size: 0.75rem;
  color: #525252;
}

.btn-page-up {
  position: fixed;
  right: 0;
  bottom: 0;
  border: 2px solid var(--clr-black-dark);
  padding: 1em 1.25em;
  border-radius: 10px 0 0 0;
  opacity: 0.6;
  transition: transform 0.3s linear;
  background-color: var(--clr-grey-dark);
  color: #fff;
  cursor: pointer;
}
