.btn-type {
  border: none;
  font-family: "Flexo-Medium";
}

.btn-card {
  font-size: 0.8rem;
  min-width: 6em;
  width: 9em;
  height: 1.5em;
  border-radius: 3px;
}

.btn-details {
  cursor: pointer;
  font-weight: lighter;
  font-size: 1rem;
  width: 24vw;
  height: 1.9em;
  color: #fff !important;
  border-radius: 5px;
}

@media (min-width: 960px) {
  .btn-details {
    width: 12.5vw;
  }
}

@media (min-width: 1024px) {
  .btn-details {
    width: 8.58em;
  }
}
