@font-face {
  font-family: "Flexo-Thin";
  src: url("../src/shared/fonts/flexo/Flexo-Thin.ttf");
}

@font-face {
  font-family: "Flexo-Light";
  src: url("../src/shared/fonts/flexo/Flexo-Light.ttf");
}

@font-face {
  font-family: "Flexo-Regular";
  src: url("../src/shared/fonts/flexo/Flexo-Regular.ttf");
}

@font-face {
  font-family: "Flexo-Medium";
  src: url("../src/shared/fonts/flexo/Flexo-Medium.ttf");
}

@font-face {
  font-family: "Flexo-Demi";
  src: url("../src/shared/fonts/flexo/Flexo-Demi.ttf");
}

@font-face {
  font-family: "Flexo-Bold";
  src: url("../src/shared/fonts/flexo/Flexo-Bold.ttf");
}
