.about-body-container {
  background-color: #fff;
  height: 68.5vh;
  max-width: 56em;
  margin: 0 auto;
}

.about-text {
  line-height: 1.5;
  font-size: 1.25rem;
  width: 92%;
  margin: 0 auto;
  margin-bottom: 5em;
  text-align: left;
}
