.gauge {
  list-style: none;
  background-color: white;
  font-size: 1.35rem;
  position: relative;
  overflow: hidden;
}

li {
  height: 1.5em;
  width: 100%;
  border-bottom: 0.5em solid var(--clr-secondary-light);
  color: #fff;
  list-style: none;
  background-color: transparent;
  position: relative;
  z-index: 2;
}

.gauge-name {
  color: #212121;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
  float: left;
  text-align: center;
  width: 100%;
}

.meter {
  background-color: var(--clr-primary-blue);
  height: 120%;
  position: absolute;
  z-index: 1;
  border: none;
}

@media (min-width: 960px) {
  .gauge-name {
    font-size: 0.6rem;
  }

  li {
    height: 0.5em;
    border-bottom: 0.15em solid var(--clr-secondary-light);
  }
}
